@charset "utf-8";

/* z-index
#header 600
#header .head_top .btn_gnb 700
#gnb 800
.swiper-pagination-bullets 400
#indiIcon 400
 */

.area{width: 1200px;margin: 0 auto}

#header{top: 0;left: 0;right: 0;z-index: 600}
#header .logo{position: fixed;top: 20px;left: 18px}
#header .logo a{display: block;width: 220px; height: 90px;background: url("../images/common/m_index_logo.png") no-repeat 0 0;background-size: cover}

#header .head_top .btn_gnb{position: fixed;top: 55px;right: 70px;z-index: 700}
/* pc에서 숨길 컨텐츠 */
.logo, .btn_gnb .mbtn_open, #gnb .mbtn_close{display: none}

.head_top .btn_gnb button{width: 64px; height: 50px;background: url("../images/index/gnb_btn.png") no-repeat 100% 50%}
.head_top .btn_gnb button:hover, .head_top .btn_gnb button:focus{-webkit-animation: waveMove 4s linear 0s infinite normal;-moz-animation: waveMove 4s linear 0s infinite normal;-o-animation: waveMove 4s linear 0s infinite normal;animation: waveMove 4s linear 0s infinite normal}

/* gnb */
#gnb{position: fixed;top:0;left: 0;right: 0;bottom: 0;background: #164556;text-align: center;z-index: 800;display: none;}
#gnb .area > a{display: none}
#gnb .gnb_open{padding-top: 130px}
#gnb > .area > .gnb_open > li{float: left;width: 240px}
#gnb .area > * {opacity: 0;filter: Alpha(opacity=0);transition: all 1s}
#gnb > .area > .gnb_open > li > a{display: block;width: 100%;}
#gnb > .area > .gnb_open > li > a{height: 90px;line-height: 90px;font-size: 36px;}
#gnb .gnb_open li ul li a{height: 63px;line-height: 63px;font-size: 25px}
#gnb .gnb_open + img{padding: 40px 0 10px}
#gnb .sns{height: 60px;text-align: center}
#gnb .sns li{display: inline-block;text-indent: -9999px}
#gnb .sns li + li{padding-left: 50px}
#gnb .sns li a{display: block;width: 60px; height: 60px;background: no-repeat 0 0;background-size: cover}
#gnb .sns li:nth-child(1) a{background-image: url("../images/index/gnb_sns_kakao.png")}
#gnb .sns li:nth-child(2) a{background-image: url("../images/index/gnb_sns_naver.png")}
#gnb .sns li:nth-child(3) a{background-image: url("../images/index/gnb_sns_insta.png")}
#gnb .sns li:nth-child(1):hover a,#gnb .sns li:nth-child(1) a:focus, #gnb .sns li:nth-child(2):hover a,#gnb .sns li:nth-child(2) a:focus, #gnb .sns li:nth-child(3):hover a,#gnb .sns li:nth-child(3) a:focus{background-position: -60px 0}
#gnb .sns + p{padding: 10px 0;font-size: 35px;font-family: NanumSqB}
#gnb p.address{font-size: 20px;padding-bottom: 15px}
#gnb .foot p{font-size: 14px;padding-bottom: 5px}
#gnb .foot p span{position: relative;padding: 0 16px}
#gnb .foot p span:before, #gnb .foot p span:after{content: "";position: absolute;width: 1px; height: 12px;top: 2px;background: #fff}
#gnb .foot p span:before{left: 6px}
#gnb .foot p span:after{right: 7px}

#header #gnb .pcbtn_close{position: absolute;top: 60px; right: 66px;width: 45px; height: 45px;background: url("../images/index/btn_close.png") no-repeat 50% 0}

/* indicator */
.swiper-pagination-bullets{bottom: 0;left: 0;width: 100%;height: 99px;background: url("../images/index/indic_bg.png") no-repeat 50% 0;background-size: cover;z-index: 400}
.swiper-pagination-bullet{width: 47px;height: 42px;display: inline-block;margin: 0 63px;border-radius: 0;background: none;opacity: 1;filter: Alpha(opacity=100)}
.swiper-pagination-bullet-active{opacity: 1;filter: Alpha(opacity=100)}

.swiper-pagination-bullets div span{display: block;-webkit-transition: all .6s;-moz-transition: all .6s;-o-transition: all .6s;transition: all .6s}
.swiper-pagination-bullets div .indic_icon{height: 24px;background: url("../images/index/indic_float.png") no-repeat 50% 50%;-webkit-transition: all .6s;-moz-transition: all .6s;-o-transition: all .6s;transition: all .6s}
.swiper-pagination-bullets div .indic_txt{text-align: center;height: 15px;line-height: 15px;font-size: 12px;padding-top: 3px;opacity: 0;filter: Alpha(opacity=0)}
.swiper-pagination-bullets .swiper-pagination-bullet-active .indic_icon{opacity: 0;filter: Alpha(opacity=0);background-position-y: 20px}
.swiper-pagination-bullets .swiper-pagination-bullet-active .indic_txt{opacity: 1;filter: Alpha(opacity=100)}

#indiIcon{position: fixed;bottom: 80px;left: 50%;margin-left: -283px;z-index: 400}

#container{height: 100%}
#container .cntwrap{height: 100%;overflow: hidden}
#container section{float: left;background: no-repeat 50% 50%;background-size: cover}
#container section .cnt_tit{font-family: NanumSqB;font-size: 40px;padding-top: 175px;text-align: center}
#container #content1{background-image: url("../images/index/main_bg.jpg")}
#container #content1 .bg2{background: url("../images/index/main_bg_logo.jpg") no-repeat 50% 50%;background-size: cover;-webkit-animation: fadeIn 4s ease 0s 1 normal;-moz-animation: fadeIn 4s ease 0s 1 normal;-o-animation: fadeIn 4s ease 0s 1 normal;animation: fadeIn 4s ease 0s 1 normal}

#container #content2{background-image: url("../images/index/lesson_bg.jpg")}
#content2 h2{color: #fff}
#content2 .pclesson{height: 640px}
#content2 .pclesson > div > *{position: absolute}
#content2 .pclesson div a{left: 50%;top: 50%}
#content2 .pclesson .basic a{margin-left: -650px;margin-top:20px}
#content2 .pclesson .advanced a{margin-left: -250px;margin-top: -30px}
#content2 .pclesson .package a{margin-left: 143px;margin-top:-100px}
#content2 .pclesson .season a{margin-left: 445px;margin-top:-215px}
#content2 .pclesson > div.show:before{content: "";position: absolute;height: 1px;background: #fff;left: 50%;top: 50%}
#content2 .pclesson > .basic.show:before{width: 433px;margin-left: -815px;margin-top:-60px;-webkit-transform: rotate(103deg);-moz-transform: rotate(103deg);-o-transform: rotate(103deg);-ms-transform: rotate(103deg);transform: rotate(103deg)}
#content2 .pclesson > .advanced.show:before{width: 280px;margin-left: -296px;margin-top:-35px;-webkit-transform: rotate(104deg);-moz-transform: rotate(104deg);-o-transform: rotate(104deg);-ms-transform: rotate(104deg);transform: rotate(104deg)}
#content2 .pclesson > .package.show:before{width: 416px;margin-left: -13px;margin-top:-176px;-webkit-transform: rotate(104deg);-moz-transform: rotate(104deg);-o-transform: rotate(104deg);-ms-transform: rotate(104deg);transform: rotate(104deg)}
#content2 .pclesson > .season.show:before{width: 266px;margin-left: 310px;margin-top: -90px;-webkit-transform: rotate(148deg);-moz-transform: rotate(148deg);-o-transform: rotate(148deg);-ms-transform: rotate(148deg);transform: rotate(148deg)}
#content2 .pclesson div .brief{background: rgba(22, 69, 86, 0.7);border: 1px solid #fff;text-align: center;padding: 30px 50px;left: 50%;top: 0}
#content2 .pclesson .basic .brief{margin-left: -550px;margin-top: 50px}
#content2 .pclesson .advanced .brief{margin-left: -123px;margin-top: 150px}
#content2 .pclesson .package .brief{margin-left: 245px;margin-top:-60px}
#content2 .pclesson .season .brief{margin-left: 330px;margin-top:300px}
#content2 .pclesson div .brief strong{font-size: 22px;}
#content2 .pclesson div .brief p{padding-top: 20px;line-height: 1.5}

#container #content3{position: relative;background-image: url("../images/index/facility_bg.jpg")}
#content3 h2{color: #164556}
#content3 .facility{margin: 0 auto;width: 795px;height: 606px;background: url("../images/index/facility_floor.png") no-repeat 50% 50%;background-size: cover}
#content3 .facility > div{position: absolute;cursor: pointer}
#content3 .facility .gh_img{top: 0; left: 0;width: 445px;height: 606px;background: url("../images/index/facility_guesthouse1.png") no-repeat 0 0}
#content3 .facility .shop_img{bottom: 0; right: 0;width: 604px;height: 456px;background: url("../images/index/facility_shop1.png") no-repeat 0 100%}
#content3 .summary{position: absolute;top:130px;width: 376px;background: rgba(22, 69, 86, 0.7);border: 1px solid #164556;text-align: center;padding: 30px 0}
#content3 .summary .sum_txt strong{font-size: 22px;}
#content3 .summary .sum_txt p{padding-top: 20px;line-height: 1.5}
#content3 .summary .sum_txt a{position: relative;display: inline-block;height: 15px;line-height: 15px;font-size: 12px;padding-right: 18px;margin: 15px 0 }
#content3 .summary .sum_txt a:after{content: "";position: absolute;right: 0;top: 1px;width: 13px;height: 13px;background: url("../images/index/btn_arrow.png") no-repeat 0 0}
#content3 .summary img + img {padding-top: 10px}
#content3 .guesthouse{left: 50%;margin-left: 200px}
#content3 .shop{right: 50%;margin-right: 200px}
#content3 .summary:before{content: "";position: absolute;height: 1px;background: #164556;}
#content3 .guesthouse:before{transform: rotate(150deg);width: 380px;top: 95px;right: 93%;}
#content3 .shop:before{transform: rotate(50deg);width: 480px;top: 183px;left: 50%;margin-left: 103px;}

#container #content4{position: relative;background-image: url("../images/index/info_bg.jpg");overflow: hidden}
#content4 .info_txt{position: absolute;left: 55%;top: 20%}
#content4 .info_txt strong{display: inline-block;padding: 40px 0 0 20px; font-size: 22px}
#content4 .info_txt div{position: relative;padding-top: 30px;}
/* #content4 .info_txt .phone > *, #content4 .info_txt .address > *,#content4 .info_txt .bus > *,{float: left} */
#content4 .info_txt div i{position: absolute;font-size: 25px;padding-right: 15px}
#content4 .info_txt div p{height: 25px;line-height: 25px;padding-left: 50px;font-size: 18px}
#content4 .info_txt .time p + p{padding-top: 10px}
#content4 .info_txt .time p span{font-family: NanumSqB;padding-right: 10px}


@keyframes waveMove {
    from {background-position-x: 100%}
    to {background-position-x: 0%}
}

@keyframes fadeIn {
    from {opacity: 0;filter: Alpha(opacity=0)}
    to {opacity: 1;filter: Alpha(opacity=100)}
}


@media screen and (max-width: 1024px) {
    .area{width: 100%}
    #container section .cnt_tit{padding-top: 100px;}
    #content2 .pclesson{height: 600px}
    #content2 .pclesson div a img{transform: scale(0.8)}
    #content2 .pclesson .basic a{margin-left: -500px;margin-top:10px}
    #content2 .pclesson .advanced a{margin-left: -180px;margin-top: -40px}
    #content2 .pclesson .package a{margin-left: 80px;margin-top:-80px}
    #content2 .pclesson .season a{margin-left: 300px;margin-top:-170px}
    #content2 .pclesson > .basic.show:before{width: 433px;margin-left: -415px;margin-top:-60px;-webkit-transform: rotate(103deg);-moz-transform: rotate(103deg);-o-transform: rotate(103deg);-ms-transform: rotate(103deg);transform: rotate(103deg)}
    #content2 .pclesson > div.show:before{height: 0px}
    #content2 .pclesson div .brief{padding: 20px 40px;}
    #content2 .pclesson .basic .brief{margin-left: -480px;margin-top: 70px}
    #content2 .pclesson .advanced .brief{margin-left: -200px;margin-top: 40px}
    #content2 .pclesson .package .brief{margin-left: 100px;margin-top:0px}
    #content2 .pclesson .season .brief{margin-left: 300px;margin-top:300px}
    #content2 .pclesson div .brief strong{font-size: 20px;}
    #content2 .pclesson div .brief p{padding-top: 16px;line-height: 1.5}
    
    #content3 .facility{transform: scale(0.8)}
    #content3 .summary{width: 350px;padding: 20px 0}
    #content3 .summary:before{height: 0}
    #content3 .guesthouse{left: 50%;margin-left: 100px}
    #content3 .shop{right: 50%;margin-right: 100px}
    #content3 .summary .sum_txt p{padding-top: 10px;}
    #content3 .summary .sum_txt a{margin: 10px 0}
    #content3 .summary img + img {padding-top: 5px}
    
    #content4 .map svg{transform: scale(0.9);margin: -150px 0 0 -150px}
    #content4 .info_txt{left: 50%;top: 15%}
    #content4 .info_txt div p{height: 25px;line-height: 25px;padding-left: 50px;font-size: 16px}

}

/* 모바일 767이하 */
@media screen and (max-width: 767px) {

 #header .logo, .btn_gnb .mbtn_open, #gnb .mbtn_close{display: block}
 .head_top .btn_gnb .pcbtn_open,#gnb .gnb_open + img, #gnb .foot,#gnb .pcbtn_close{display: none;}
 #header{position: relative;}
 #header .head_top{position: fixed;top: 0;left: 0; right: 0;height: 50px;}
 #header .head_top .logo{top: 9px;left: 18px}
#header .logo a{width: 125px; height:32px}

 #header .head_top .btn_gnb{top: 5px;right: 18px;}
 .head_top .btn_gnb button{width: 45px; height: 40px;background: url("../images/common/m_gnb_btn.png") no-repeat 100% 50%;}
 #gnb .area > a{display: block;padding-top: 24px}
 #gnb .gnb_open{position: absolute;top: 120px;left: 50%;width: 200px;margin-left: -100px;padding-top: 0}
 #gnb > .area > .gnb_open > li{float: none;width: 200px}
 #gnb .area > * {opacity: 0;filter: Alpha(opacity=0);transition: all 1s}
 #gnb > .area > .gnb_open > li > a{display: block;width: 100%;height: 55px;line-height: 55px;font-size: 20px}
 #gnb .gnb_open li ul{display: none;padding: 3px 0;width: 200px;margin: 0 auto;border-top: 1px solid #fff;border-bottom: 1px solid #fff;}
 #gnb .gnb_open li ul li a{height: 30px;line-height: 30px;left: 30px;font-size: 16px}
 #gnb .sns{margin-top: 440px;height: 40px;text-align: center}
 #gnb .sns li + li{padding-left: 20px}
 #gnb .sns li a{width: 40px;height: 40px;background-size: cover}
 #gnb .sns li:nth-child(1):hover a,#gnb .sns li:nth-child(1) a:focus, #gnb .sns li:nth-child(2):hover a,#gnb .sns li:nth-child(2) a:focus, #gnb .sns li:nth-child(3):hover a,#gnb .sns li:nth-child(3) a:focus{background-position: -40px 0}
 #gnb .sns + p{font-size: 26px;padding: 10px 0 5px}
 #gnb p.address{font-size: 16px;padding-bottom: 0}

 #header #gnb .mbtn_close{position: absolute;top: 27px; right: 20px;width: 35px; height: 35px;background: url("../images/index/btn_close.png") no-repeat 50% 0;background-size: cover}

 .swiper-pagination-bullets{height: 80px;}
 .swiper-pagination-bullet{margin: 0 15px;}
 
 
 #indiIcon{bottom: 65px;margin-left: -140px}
 
 #container section{position: relative}
 #container section .cnt_tit{position: absolute;color: #fff !important;font-size: 16px !important;font-family: NanumSqB;line-height: 50px;top: 0; text-indent: 0 !important;left:50%;margin-left: -15px;padding-top: 0;z-index: 800;}

 #container #content2 .cnt_tit{padding-top: 0}
 #content2 .pclesson{display: none}
 #content2 .mlesson{display: block}
 #content2 .mlesson{background: rgba(22, 69, 86, 0.7);border: 1px solid #fff;text-align: center;padding: 30px 50px;margin-top: 80px;}

 /* 
.swiper-pagination-bullets div .indic_icon{height: 24px;background: url("../images/index/indic_float.png") no-repeat 50% 50%;-webkit-transition: all .6s;-moz-transition: all .6s;-o-transition: all .6s;transition: all .6s}
.swiper-pagination-bullets div .indic_txt{text-align: center;height: 15px;line-height: 15px;font-size: 12px;padding-top: 3px;opacity: 0;filter: Alpha(opacity=0)}
.swiper-pagination-bullets .swiper-pagination-bullet-active .indic_icon{opacity: 0;filter: Alpha(opacity=0);background-position-y: 20px}
.swiper-pagination-bullets .swiper-pagination-bullet-active .indic_txt{opacity: 1;filter: Alpha(opacity=100)} 
*/
}