@charset "utf-8";

/* z-index
#header 800
#header:after -1
#lesson .btnwrap 500
#lesson .cntwrap 400
#lesson .cntwrap .sub_cnt .sub_bg .scroll 600
#header .mheader .mhead_top .mbtn_open 700
#header .mheader #mgnb 900
section .subtit 800
 */

/* common */
.area{width: 1200px;margin: 0 auto}
#header{position: absolute; top: 0;left: 0;width: 100%;height: 80px;background: #164556;z-index: 800}
#header .pcheader .logo a{display: block;width: 267px; height: 80px;}
#header .pcheader .logo a img{padding: 8px 0}
#header .mheader{display: none}
#header:after{content: "";position: absolute;left: 0; right: 0; top: 80px;height: 0;background: #164556;opacity: 0;filter: Alpha(opacity=0);z-index: -1}
#header.on:after{height: 100px;opacity: 1;filter: Alpha(opacity=100);}

#header .pcheader #gnb{text-align: center}
#header .pcheader #gnb > ul{position: absolute;top: 0;right: 0;width: 600px;height: 80px}
#header .pcheader #gnb > ul > li{position: relative;float: left;width: 120px;}
#header .pcheader #gnb ul li.pick{background: #fff;color: #164556;font-family: NanumSqB}
#header .pcheader #gnb ul li.on:after{content: "";position: absolute;bottom: 18px; left: 10px; width: 100px;height: 2px;background: #fff;}
#header #gnb ul li a{display: block;width: 120px;}
#header #gnb > ul > li > a{height: 80px;line-height: 80px;font-size: 20px}
#header #gnb > ul > li > div{position: absolute;left: 0; top: 80px;right: 0;height: 100px;}
#header #gnb > ul > li > div > ul > li > a{height: 30px;line-height: 30px}
#header .pcheader .sns{height: 100px;}
#header .pcheader .sns li{float: left;padding-top: 23px;}
#header .pcheader .sns li+li{padding-left: 15px}
.sns li a{display: block;width: 45px;height: 45px;text-indent: -9999px;background: no-repeat 0 50%;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover}
.sns li:nth-child(1) a{background-image: url("../images/common/sns_kakao.png")}
.sns li:nth-child(2) a{background-image: url("../images/common/sns_naver.png")}
.sns li:nth-child(3) a{background-image: url("../images/common/sns_instagram.png")}
.sns li:nth-child(1):hover a, .sns li:nth-child(1) a:focus, .sns li:nth-child(2):hover a, .sns li:nth-child(2) a:focus, .sns li:nth-child(3):hover a, .sns li:nth-child(3) a:focus{background-position: -45px 0 }


section{position: relative;}
section#cntLesson + #footer{display: none}
#footer{height: 250px;width: 100%;padding: 40px 0;text-align: center;background: #164556}
#footer .sns{width: 165px;height: 45px;margin: 0 auto 15px}
#footer .sns li{padding-top: 0;float: left}
#footer .sns li+li{padding-left: 15px}
#footer img + p{font-size: 25px;padding: 15px 0 8px}
#footer .address{padding-bottom: 15px}
#footer .copyright{font-size: 14px;}
#footer .copyright p{padding-bottom: 5px}
#footer .copyright p span.line{position: relative;padding: 0 16px}
#footer .copyright p span.line:before,#footer .copyright p span.line:after{content: "";position: absolute;width: 1px; height: 12px;top: 2px;background: #fff}
#footer .copyright p span.line:before{left: 6px}
#footer .copyright p span.line:after{right: 7px}

/* lesson.html */
#wrap{position: relative;overflow-x: hidden}

#cntLesson h2{text-indent: -9999px;font-size: 0}
#lesson div .sub_bg{position: relative;background: no-repeat 50% 50%;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;text-align: center}
#lesson div .sub_basic{background-image: url("../images/lesson/basic_bg.jpg")}
#lesson div .sub_advanced{background-image: url("../images/lesson/advanced_bg.jpg")}
#lesson div .sub_package{background-image: url("../images/lesson/package_bg.jpg")}
#lesson div .sub_season{background-image: url("../images/lesson/season_bg.jpg")}
#lesson div .sub_bg:before{content: "";position: absolute;top: 0; left: 0;width: 100%;height: 100%;background: rgba(22, 69, 86, 0.4)}

#lesson div .sub_bg .sub_tit{position: absolute;top: 50vh;margin-top: 10px;width: 25%;}
#lesson div .sub_bg .sub_tit h3{font-size: 1.5rem;padding-bottom: 13px}

#lesson .btnwrap .sub_bg .sub_tit, #lesson .cntwrap .sub_cnt .sub_bg .sub_tit{transition: all 0.5s}

#lesson .btnwrap{position: relative;z-index: 500;}
/* #lesson .btnwrap ul, #lesson .btnwrap ul li{height: 100%} */
#lesson .btnwrap ul li{float: left;width: 25%;overflow: hidden;transition: transform 0.5s}/* PC : translateY(-100%),  Mobile : translateX(-100%)*/

#lesson .btnwrap ul .show{transform: translateY(-100%)}
#lesson .btnwrap ul .btn_basic{transition-delay: 0.05s}
#lesson .btnwrap ul .btn_advanced{transition-delay: 0.25s}
#lesson .btnwrap ul .btn_package{transition-delay: 0.15s}
#lesson .btnwrap ul .btn_season{transition-delay: 0.35s}
#lesson .btnwrap ul li a{display: block;width: 400%;height: 100vh;}
#lesson .btnwrap ul .btn_basic a{transform: translateX(0%)}
#lesson .btnwrap ul .btn_advanced a{transform: translateX(-25%)}
#lesson .btnwrap ul .btn_package a{transform: translateX(-50%)}
#lesson .btnwrap ul .btn_season a{transform: translateX(-75%)}
#lesson .btnwrap ul .btn_basic a .sub_tit{transform: translateX(0%)}
#lesson .btnwrap ul .btn_advanced a .sub_tit{transform: translateX(100%)}
#lesson .btnwrap ul .btn_package a .sub_tit{transform: translateX(200%)}
#lesson .btnwrap ul .btn_season a .sub_tit{transform: translateX(300%)}

#lesson .cntwrap{position: absolute;top: 0;left: 0;width: 100%;z-index: 400;line-height: 1.5}
#lesson .cntwrap .sub_cnt{display: none;background: #fff;transition: all 3s}

#lesson .cntwrap .sub_cnt.show{display: block;}
#lesson .cntwrap .sub_cnt.show .sub_bg:before{-webkit-animation: fadeIn 3s linear 0s 1 reverse;-moz-animation: fadeIn 3s linear 0s 1 reverse;-o-animation: fadeIn 3s linear 0s 1 reverse;animation: fadeIn 3s linear 0s 1 reverse;opacity: 0;filter: Alpha(opacity=0)}

#lesson .cntwrap .sub_cnt .sub_bg{position: relative;height: 100vh}
#lesson .cntwrap #subCnt1 .sub_bg .sub_tit{left: 0%;}
#lesson .cntwrap #subCnt2 .sub_bg .sub_tit{left: 25%;}
#lesson .cntwrap #subCnt3 .sub_bg .sub_tit{left: 50%;}
#lesson .cntwrap #subCnt4 .sub_bg .sub_tit{left: 75%;}
#lesson .cntwrap .sub_cnt.show .sub_bg .sub_tit.active{left: 37.5% !important}
#lesson .cntwrap .sub_cnt .sub_bg .scroll{position: absolute; bottom: 50px; left: 50%;margin-left: -15px; width: 30px;height: 93px;;text-indent: -9999px;background: url("../images/lesson/icon_scrolldown.png") no-repeat 50% 50%;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;-webkit-animation: fadeIn 1.5s linear 0s infinite alternate;-moz-animation: fadeIn 1.5s linear 0s infinite alternate;-o-animation: fadeIn 1.5s linear 0s infinite alternate;animation: fadeIn 1.5s linear 0s infinite alternate;z-index: 600}

#lesson .cntwrap .sub_cnt .detail{height: 100%}
#lesson .cntwrap .sub_cnt .detail .detailbox{width: 100%}
#lesson .cntwrap .sub_cnt .detail .detailbox > div{float: left;width: 50%}
#lesson .cntwrap .sub_cnt .detail .detailbox .detail_pic > div{position: relative;background: no-repeat 50% 100%;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;margin-bottom: 70px}
#lesson .cntwrap #subCnt1 .detail .detailbox .detail_pic .step1{height: 614px;background-image: url("../images/lesson/detail_basic1.jpg")}
#lesson .cntwrap #subCnt1 .detail .detailbox .detail_pic .step2{height: 505px;background-image: url("../images/lesson/detail_basic2.jpg")}
#lesson .cntwrap #subCnt1 .detail .detailbox .detail_pic .step3{height: 640px;background-image: url("../images/lesson/detail_basic3.jpg")}
#lesson .cntwrap #subCnt1 .detail .detailbox .detail_pic .step4{height: 540px;background-image: url("../images/lesson/detail_basic4.jpg")}
#lesson .cntwrap #subCnt2 .detail .detailbox .detail_pic .step1{height: 640px;background-image: url("../images/lesson/detail_advanced1.jpg")}
#lesson .cntwrap #subCnt2 .detail .detailbox .detail_pic .step2{height: 613px;background-image: url("../images/lesson/detail_advanced2.jpg")}
#lesson .cntwrap #subCnt2 .detail .detailbox .detail_pic .step3{height: 640px;background-image: url("../images/lesson/detail_advanced3.jpg")}
#lesson .cntwrap #subCnt2 .detail .detailbox .detail_pic .step4{height: 640px;background-image: url("../images/lesson/detail_advanced4.jpg")}
#lesson .cntwrap #subCnt3 .detail .detailbox .detail_pic .step1{height: 614px;background-image: url("../images/lesson/detail_package1.jpg")}
#lesson .cntwrap #subCnt3 .detail .detailbox .detail_pic .step2{height: 573px;background-image: url("../images/lesson/detail_package2.jpg")}
#lesson .cntwrap #subCnt4 .detail .detailbox .detail_pic .step1{height: 640px;background-image: url("../images/lesson/detail_season1.jpg")}
#lesson .cntwrap #subCnt4 .detail .detailbox .detail_pic .step2{height: 571px;background-image: url("../images/lesson/detail_season2.jpg")}
#lesson .cntwrap #subCnt4 .detail .detailbox .detail_pic .step3{height: 605px;background-image: url("../images/lesson/detail_season3.jpg")}

#lesson .cntwrap .sub_cnt .detail .detailbox .detail_pic div > div{position: absolute;bottom: 0;right: 0;display: inline-block;background: #fff;color: #164556;padding: 30px 60px}
#lesson .cntwrap .sub_cnt .detail .detailbox .detail_pic div > div strong{font-size: 25px}
#lesson .cntwrap .sub_cnt .detail .detailbox .detail_pic div > div strong + p{padding:20px 0}

#lesson .cntwrap .sub_cnt .detail .detailbox .detail_txt{height: 100%}
#lesson .cntwrap .sub_cnt .detail .detailbox .detail_txt .txt_box{padding: 100px 0 0 100px;background: #164556;line-height: 1.5;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing: border-box;height: 100%}
#lesson .cntwrap .sub_cnt .detail .detailbox .detail_txt .txt_box .dt_tit{font-family: NanumSqB;font-size: 25px;margin-bottom: 75px}
#lesson .cntwrap .sub_cnt .detail .detailbox .detail_txt .txt_box .dt_tit+p,#lesson .cntwrap .sub_cnt .detail .detailbox .detail_txt .txt_box div{width: 500px}
#lesson .cntwrap .sub_cnt .detail .detailbox .detail_txt .txt_box ul{position: absolute;top: 107px; left: 50%;}
#lesson .cntwrap .sub_cnt .detail .detailbox .detail_txt .txt_box ul li{float: left;font-size: 18px}
#lesson .cntwrap .sub_cnt .detail .detailbox .detail_txt .txt_box ul li + li{padding-left:15px}
#lesson .cntwrap .sub_cnt .detail .detailbox .detail_txt .txt_box div{margin-top: 77px}
#lesson .cntwrap .sub_cnt .detail .detailbox .detail_txt .txt_box div > p:nth-child(1){font-size: 20px}
#lesson .cntwrap .sub_cnt .detail .detailbox .detail_txt .txt_box div > p span{font-size: 22px;padding-left: 100px}

#lesson .cntwrap .sub_cnt .detail .btm_btn{height: 300px;}
#lesson .cntwrap .sub_cnt .detail .btm_btn li{float: left;height: 300px;width: 33.333333333333%;background: no-repeat 50% 50%;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover}
#lesson .cntwrap .sub_cnt .detail .btm_btn li:nth-child(1){background-image: url("../images/lesson/btm_btn1.jpg")}
#lesson .cntwrap .sub_cnt .detail .btm_btn li:nth-child(2){background-image: url("../images/lesson/btm_btn2.jpg")}
#lesson .cntwrap .sub_cnt .detail .btm_btn li:nth-child(3){background-image: url("../images/lesson/btm_btn3.jpg")}
#lesson .cntwrap .sub_cnt .detail .btm_btn li:nth-child(4){background-image: url("../images/lesson/btm_btn4.jpg")}
#lesson .cntwrap .sub_cnt .detail .btm_btn li a{display: block;text-align:center;height: 100%}
#lesson .cntwrap .sub_cnt .detail .btm_btn li a strong{display: inline-block;font-size: 30px;margin-top: 90px}
#lesson .cntwrap .sub_cnt .detail .btm_btn li a p{padding-top: 25px}

/* info.html */
#cntInfo{padding-top: 80px}
#cntInfo .top_tit{height: 500px;background: url("../images/info/top_bg.jpg") no-repeat 50% 50%;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover}
#cntInfo .top_tit:after{content: "";display: block;background: rgba(255, 255, 255,0.5);height: 250px;margin-top: -158px}
#cntInfo .top_tit h2{font-size: 50px; color: #164556;text-align: center;padding-top: 195px}
#cntInfo .reservation{color: #164556;margin: 100px auto 400px}
#cntInfo .reservation #calendar{float: left;width: 434px;margin-left: 100px}
#cntInfo .reservation #calendar .cal_tit{color: #164556;font-size: 30px}
#cntInfo .reservation #calendar .yymm{position: relative;height: 30px;line-height: 30px;text-align: center;margin-bottom: 20px}
#cntInfo .reservation #calendar .yymm .btn, #cntInfo .reservation #calendar .yymm .btn button{position: absolute}
#cntInfo .reservation #calendar .yymm .btn{width: 100%;top: 0; left: 0}
#cntInfo .reservation #calendar .yymm .btn button{line-height: 30px; top: 0}
#cntInfo .reservation #calendar .yymm .btn button i{font-size: 30px}
#cntInfo .reservation #calendar .yymm .btn .prev{left: 0}
#cntInfo .reservation #calendar .yymm .btn .next{right: 0}
#calendar table, #calendar table tr th, #calendar table tr td{border-bottom: 1px solid #ddd;text-align: center}
#calendar table tr th, #calendar table tr td{padding: 20px;font-size: 18px}
#calendar table tr th{background: #164556;color: #fff}
#calendar table tr td.null{background: #ddd}
#calendar table tr td.nochoice{color: #999;background: #f8f8f8;text-decoration: line-through}
#calendar table tr td.today{background: #164556;color: #fff;font-family: NanumSqB}

#cntInfo .reservation #select{float: right;margin-right: 100px}
#cntInfo .reservation #select .select_form{width: 434px;}
#cntInfo .reservation #select .select_form > div{margin-bottom: 30px}
#cntInfo .reservation #select .select_form > div label{display: block;padding-bottom: 10px;font-family: NanumSqB;font-size: 20px}
#cntInfo .reservation #select .select_form > div > div{width: 200px}
#cntInfo .reservation #select .select_form .row2 > div, #cntInfo .reservation #select .select_form .row3 > div{float: left}
#cntInfo .reservation #select div select{width: 200px;height: 35px;border-left: none;border-right: none}
#cntInfo .reservation #select .select_form .row1 #cosOpt, #cntInfo .reservation #select .select_form .row2 div:last-child,#cntInfo .reservation #select .select_form .row3 div:last-child{margin-left: 24px} 
#cntInfo .reservation #select .select_form .row3 label{display: inline-block;padding-bottom: 0}
#cntInfo .reservation #select div input{width: 20px;height: 20px;vertical-align: middle}
#cntInfo .reservation #select div textarea{width: 420px}
#cntInfo .reservation #select .total,#cntInfo .reservation #select button{position: absolute;left: 100px;width: 1000px}
#cntInfo .reservation #select .total{height: 110px;bottom: -110px;border-top: 1px solid #164556;}
#cntInfo .reservation #select .total > * {float: left}
#cntInfo .reservation #select .total .choice_txt{height: 110px;width: 500px;font-size: 20px;padding: 35px 30px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box}
#cntInfo .reservation #select .total > p{font-size: 25px;line-height: 110px;padding-left: 70px;font-family: NanumSqB}
#cntInfo .reservation #select .total > p > span{padding-left: 50px;font-size: 28px}
#cntInfo .reservation #select button{bottom: -190px;height: 80px;background: #164556;color: #fff;font-family: NanumSqB;font-size: 24px}
#cntInfo .reservation #select button span{display: inline-block;width: 20px;height: 20px;padding-left: 15px;background: url("../images/info/btn_reservation.png") no-repeat 100% 100%;vertical-align: middle}

#cntInfo .location{background: #164556;height: 600px;}
#cntInfo .location > div{float: left;width: 50%;height: 600px;}
#cntInfo .location .map iframe{border: none;width: 100%;height: 100%}
#cntInfo .location .mapinfo{padding: 110px 0 0 60px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
#cntInfo .location .mapinfo strong{display: inline-block;font-size: 22px;padding: 40px 0 0 20px}
#cntInfo .location .mapinfo div{position: relative;padding-top: 30px;}
#cntInfo .location .mapinfo i{position: absolute;font-size: 25px;padding-right: 15px}
#cntInfo .location .mapinfo p{height: 25px;line-height: 25px;padding-left: 50px;font-size: 18px}
#cntInfo .location .mapinfo p + p{padding-top: 10px}
#cntInfo .location .mapinfo .time p span{font-family: NanumSqB;padding-right: 10px}
#cntInfo .btm_bg{height: 250px;background: url("../images/info/btm_bg.jpg") no-repeat 50% 50%;background-size: cover;}


@keyframes waveMove {
    from {background-position-x: 100%}
    to {background-position-x: 0%}
}

@keyframes fadeIn {
    from {opacity: 0;filter: Alpha(opacity=0)}
    to {opacity: 1;filter: Alpha(opacity=100)}
}

@media screen and (max-width: 1024px) {
    .area{width: 95%}

    #footer .sns li:nth-child(1):hover a, #footer .sns li:nth-child(1) a:focus, #footer .sns li:nth-child(2):hover a, #footer .sns li:nth-child(2) a:focus, #footer .sns li:nth-child(3):hover a, #footer .sns li:nth-child(3) a:focus{background-position: 0 }

    /* lesson.html */
    #lesson div .sub_bg .sub_tit h3+p{font-size: 0;text-indent: -9999px}
    #lesson .cntwrap .sub_cnt .sub_bg .scroll{display: none}
    #lesson .cntwrap .sub_cnt .detail .detailbox .detail_txt .txt_box{padding: 100px 0 0 50px;}
    /* 
#lesson .cntwrap .sub_cnt .detail .detailbox .detail_txt .txt_box{padding: 100px 0 0 100px;background: #164556;line-height: 1.5;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing: border-box;height: 100%}
    */
    #lesson .cntwrap .sub_cnt .detail .detailbox .detail_txt .txt_box .dt_tit+p,#lesson .cntwrap .sub_cnt .detail .detailbox .detail_txt .txt_box div{width: 400px;font-size: 14px}
    #lesson .cntwrap .sub_cnt .detail .detailbox .detail_txt .txt_box ul{left: 50%;}
    #lesson .cntwrap .sub_cnt .detail .detailbox .detail_txt .txt_box div{margin-top: 50px}
    #lesson .cntwrap .sub_cnt .detail .detailbox .detail_txt .txt_box div > p:nth-child(1){padding-bottom: 15px}
    #lesson .cntwrap .sub_cnt .detail .detailbox .detail_txt .txt_box div > p span{font-size: 18px;padding-left: 30px}

    /* info.html */
    #cntInfo .reservation #calendar{float: none;margin: 0 auto 50px}
    #cntInfo .reservation #select{float: none;margin: 0 auto 50px}
    #cntInfo .reservation #select .select_form{margin: 0 auto}
    #cntInfo .reservation #select .select_form div{text-align: center}
    #cntInfo .reservation #select .total,#cntInfo .reservation #select button{left: 0;width: 100%}
    #cntInfo .reservation #select .total{height: 150px;bottom: -200px;}
    #cntInfo .reservation #select .total > .choice_txt{height: 100%;width: 60%}
    #cntInfo .reservation #select .total > p{padding-left: 0;line-height: 100px;width: 40%}
    #cntInfo .reservation #select button{bottom: -280px;font-size: 20px}
    #cntInfo .reservation #select button span{width: 18px;height: 18px;}

    #cntInfo .location{height: 1350px}
    #cntInfo .location > div{float: none;width: 80%;height: 600px;margin: 0 auto}
    #cntInfo .location .map{padding-top: 50px}
    #cntInfo .location .mapinfo{padding: 50px 0 0 ;text-align: center;height: 700px}
    #cntInfo .location .mapinfo strong{display: block;font-size: 25px;padding: 20px 0 10px }
    #cntInfo .location .mapinfo i{position: static;display: block;font-size: 30px;padding-right: 0;padding-bottom: 10px}
    #cntInfo .location .mapinfo p{padding-left: 0px;}
    #cntInfo .location .mapinfo div{position: relative;padding-top: 30px;}
 
}

@media screen and (max-width: 767px) {
    /* common */
    #header .pcheader{display: none}
    #header .mheader{display: block}
    #header{height: 50px}
    #header .mheader .mhead_top{height: 50px}
    
    #header .mheader .mhead_top .logo a img{width: 125px; height: auto;padding: 10px 0}
    #header .mheader .mhead_top .mbtn_open{display: block;position: absolute;width: 35px; height: 30px;top: 10px; right: 0;background: url("../images/common/m_gnb_btn.png") no-repeat 100% 50%;background-size: cover;z-index: 700;-webkit-animation: waveMove 4s linear 0s infinite normal;-moz-animation: waveMove 4s linear 0s infinite normal;-o-animation: waveMove 4s linear 0s infinite normal;animation: waveMove 4s linear 0s infinite normal}

    #header .mheader #mgnb{display: none;position: fixed;top: 0; left: 0; width: 100%;height: 100%;background: #164556;text-align: center;z-index: 900}
    #header .mheader #mgnb > a{display: block;padding-top: 20px}
    #header .mheader #mgnb .gnb_open{position: absolute;top: 90px;left: 50%;width: 200px;margin-left: -100px;}
    #header .mheader #mgnb > .gnb_open > li{position: relative;width: 200px;}
    #header .mheader #mgnb > .gnb_open > li > a{height: 55px;line-height: 55px;width: 100%;font-size: 20px}
    #header .mheader #mgnb > .gnb_open > li > div{display: none;position: static;padding: 3px 0;width: 200px;height: 100%;margin: 0 auto;border-top: 1px solid #fff;border-bottom: 1px solid #fff;}
    #header .mheader #mgnb > .gnb_open > li > div > ul > li > a{width: 200px;height: 30px;line-height: 30px}

    #header .mheader #mgnb .sns{height: 40px;width: 200px;margin: 400px auto 0}
    #header .mheader #mgnb .sns li{display: inline-block;width: 40px;text-indent: -9999px}
    #header .mheader #mgnb .sns li a{display: block;width: 40px; height: 40px;}
    #header .mheader #mgnb .sns li + li{padding-left: 20px}
    .sns li:nth-child(1):hover a, .sns li:nth-child(1) a:focus, .sns li:nth-child(2):hover a, .sns li:nth-child(2) a:focus, .sns li:nth-child(3):hover a, .sns li:nth-child(3) a:focus{background-position: -40px 0 }
    #header .mheader #mgnb .sns + p{font-size: 26px;padding: 20px 0 5px}
    #header .mheader #mgnb .address{font-size: 16px;padding-bottom: 0}
    #header .mbtn_close{position: absolute;top: 27px;right: 20px;width: 35px;height: 35px;background: url("../images/index/btn_close.png") no-repeat 50% 50%; background-size: cover}
    
    section{padding-top: 50px;}
    section .subtit{position: absolute;color: #fff !important;font-size: 16px !important;font-family: NanumSqB;line-height: 50px;top: 0; text-indent: 0 !important;left:50%;margin-left: -15px;z-index: 800;}

    #footer{height: 215px;width: 100%;padding: 30px 0;text-align: center;background: #164556}
    #footer img{width: 50%;height: auto}
    #footer img + p{font-size: 20px;padding: 15px 0 8px}
    #footer .copyright{font-size: 12px;}
    #footer .copyright p span.mhide{font-size: 0;line-height: 0;overflow: hidden;text-indent: -9999px;}
    #footer .copyright p span.line{padding: 0 10px}
    #footer .copyright p span.line:before{left: 1px}
    #footer .copyright p span.line:after{right: 2px} 
    

/* lesson.html */
    #lesson div .sub_bg .sub_tit{top: calc(50vh - 30px);margin-top: 0;width: 100%}/* top: calc(50vh - 30px - 95px) */
    #lesson .btnwrap ul .btn_basic a .sub_tit, #lesson .cntwrap #subCnt1 .sub_bg .sub_tit{transform: translateY(calc(100vh / 4 * -1.5))}
    #lesson .btnwrap ul .btn_advanced a .sub_tit, #lesson .cntwrap #subCnt2 .sub_bg .sub_tit{transform: translateY(calc(100vh / 4 * -0.5))}
    #lesson .btnwrap ul .btn_package a .sub_tit, #lesson .cntwrap #subCnt3 .sub_bg .sub_tit{transform: translateY(calc(100vh / 4 * 0.5))}
    #lesson .btnwrap ul .btn_season a .sub_tit, #lesson .cntwrap #subCnt4 .sub_bg .sub_tit{transform: translateY(calc(100vh / 4 * 1.5))}

    #lesson .btnwrap ul li{float: none;width: 100%;height: calc((100vh - 50px) / 4)}
    #lesson .btnwrap ul .show{transform: translateX(-100%)}
    #lesson .btnwrap ul li a{width: 100%;height: 100vh}
    #lesson .btnwrap ul .btn_basic a, #lesson .btnwrap ul .btn_advanced a, #lesson .btnwrap ul .btn_package a, #lesson .btnwrap ul .btn_package a{transform: translateX(0%)}
    #lesson .btnwrap ul .btn_basic a{transform: translateY(0%)}
    #lesson .btnwrap ul .btn_advanced a{transform: translateY(-25%)}
    #lesson .btnwrap ul .btn_package a{transform: translateY(-50%)}
    #lesson .btnwrap ul .btn_season a{transform: translateY(-75%)}
    #lesson div .sub_bg .sub_tit h3+p{font-size: 16px;text-indent: 0px}

    #lesson .cntwrap .sub_cnt .sub_bg{height: 100vh}
    #lesson .cntwrap .sub_cnt.show .sub_bg .sub_tit.active{transform: translateY(0) !important;left: auto !important}
    #lesson .cntwrap #subCnt1 .sub_bg .sub_tit, #lesson .cntwrap #subCnt2 .sub_bg .sub_tit, #lesson .cntwrap #subCnt3 .sub_bg .sub_tit, #lesson .cntwrap #subCnt4 .sub_bg .sub_tit{left: 0}
    
    #lesson .cntwrap .sub_cnt .detail{position:relative;}
    #lesson .cntwrap .sub_cnt .detail .detailbox > div{float: none;width: 100%}
    #lesson .cntwrap .sub_cnt .detail .detailbox .detail_pic{position:absolute;left:0;}/* top좌표값 스크립트로 detail_txt높이 적용 */
    #lesson .cntwrap .sub_cnt .detail .detailbox .detail_pic > div{margin-bottom: 300px;width: auto;height: 300px !important}
    #lesson .cntwrap #subCnt3 .detail .detailbox .detail_pic > div, #lesson .cntwrap #subCnt4 .detail .detail_pic > div{margin-bottom: 100px}
    #lesson .cntwrap .sub_cnt .detail .detailbox .detail_pic div > div{display: block;text-align: center;top: 300px;left: 0;padding: 30px;background: rgb(255, 255, 255)}
    #lesson .cntwrap .sub_cnt .detail .detailbox .detail_pic div > div strong + p{padding:10px 0}

    #lesson .cntwrap .sub_cnt .detail .detailbox .detail_txt{width: 100%;background: #164556;}
    #lesson .cntwrap .sub_cnt .detail .detailbox .detail_txt .txt_box{margin-left: 0;width: 100%;padding: 50px 18px 75px;line-height: 1.5;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;text-align: center;}
    #lesson .cntwrap .sub_cnt .detail .detailbox .detail_txt .txt_box .dt_tit + p, #lesson .cntwrap .sub_cnt .detail .detailbox .detail_txt .txt_box div{width: 100%;font-size: 15px}
    #lesson .cntwrap .sub_cnt .detail .detailbox .detail_txt .txt_box .dt_tit{margin-bottom: 30px}
    #lesson .cntwrap .sub_cnt .detail .detailbox .detail_txt .txt_box ul{position: static;width: 164px;height: 25px;margin: 50px auto 0;}
    #lesson .cntwrap .sub_cnt .detail .detailbox .detail_txt .txt_box ul li + li{padding-left:30px}
    #lesson .cntwrap .sub_cnt .detail .detailbox .detail_txt .txt_box div{margin-top: 50px}
    #lesson .cntwrap #subCnt3 .detail .detailbox .detail_txt .txt_box div > p:nth-child(2){font-size: 15px}
   
    #lesson .cntwrap .sub_cnt .detail .btm_btn{height: 150px;}
    #lesson .cntwrap .sub_cnt .detail .btm_btn li{float: left;height: 150px;width: 33.333333333333%;}
    #lesson .cntwrap .sub_cnt .detail .btm_btn li a{width: 100%;}
    #lesson .cntwrap .sub_cnt .detail .btm_btn li a strong{font-size: 20px;margin-top: 60px}
    #lesson .cntwrap .sub_cnt .detail .btm_btn li a p{padding-top: 0;font-size: 0;text-indent: -9999px}


/* info.html */
    #cntInfo .top_tit{height: calc(100vh / 4);}
    #cntInfo .top_tit h2{font-size: inherit; padding-top: 0}
    #cntInfo .reservation{margin:50px auto 350px}
    #cntInfo .reservation #calendar{width: 322px;}
    #cntInfo .reservation #calendar .cal_tit{font-size: 25px}
    #calendar table tr th, #calendar table tr td{padding: 13px;font-size: 16px}
  
    #cntInfo .reservation #select .select_form{width: 100%;}
    #cntInfo .reservation #select .select_form .row2, #cntInfo .reservation #select .select_form .row3{width: 318px;margin: 0 auto 30px}
    #cntInfo .reservation #select .select_form div select{width: 149px;height: 35px;border-left: none;border-right: none}
    #cntInfo .reservation #select .select_form .row2 div,#cntInfo .reservation #select .select_form .row3 div{width: 149px;}
    #cntInfo .reservation #select .select_form .row1 #cosOpt, #cntInfo .reservation #select .select_form .row2 div:last-child,#cntInfo .reservation #select .select_form .row3 div:last-child{margin-left: 20px}
    #cntInfo .reservation #select .select_form .row4 textarea{width: 322px}

    #cntInfo .reservation #select .total{height: 180px;}
    #cntInfo .reservation #select .total > *{float: none}
    #cntInfo .reservation #select .total > .choice_txt{height: 50%;width: 100%;padding: 30px 30px;}
    #cntInfo .reservation #select .total > p{line-height: 70px;width: 100%;text-align: center}

    #cntInfo .location{background: #fff;height: 1080px}
    #cntInfo .location > div{width: 100%;height: 400px}
    #cntInfo .location .map{padding-top: 0px}
    #cntInfo .location .mapinfo{color: #164556;padding: 0; height: 680px}
    #cntInfo .location .mapinfo img{display: none}
    #cntInfo .location .mapinfo strong{padding: 40px 0 10px }
    #cntInfo .location .mapinfo .bus{height: 90px}
    #cntInfo .location .mapinfo div .down{display: block}
    #cntInfo .location .mapinfo .time p{height: 50px}
    #cntInfo .location .mapinfo .time p span{padding-right: 0}
    #cntInfo .btm_bg{height: 180px;}
}

